@mixin onTablet {
  @media (min-width: 577px) {
    @content;
  }
}

@mixin onLaptop {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin onLaptopL {
  @media (min-width: 1367px) {
    @content;
  }
}

@mixin fontRules($size, $weight: 400, $color: #394155) {
  font-family: 'Formular', sans-serif;
  font-size: $size;
  font-weight: $weight;
  line-height: $size * 1.5;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: $color;
}
